				
#nav
	{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		text-align: center;
		padding: 1.5em 0 1.5em 0;
		z-index: 1;
		overflow: hidden;
	}
	
		#nav > ul
		{
			line-height: 0px;
			position: relative;
			display: inline-block;
			margin: 0;

			height: 21px;
			border-left: solid 1px rgba(192,192,192,0.35);
			border-right: solid 1px rgba(192,192,192,0.35);
		}
		
			#nav > ul:before,
			#nav > ul:after
			{
				content: '';
				display: block;
				width: 300%;
				position: absolute;
				top: 50%;
				margin-top: -2px;

				height: 5px;
				border-top: solid 1px rgba(192,192,192,0.35);
				border-bottom: solid 1px rgba(192,192,192,0.35);
			}
		
			#nav > ul:before
			{
				left: 100%;
				margin-left: 1px;
			}
		
			#nav > ul:after
			{
				right: 100%;
				margin-right: 1px;
			}
		
			#nav > ul > li
			{
				display: inline-block;
				margin: -9px 0.5em 0 0.5em;
				border-radius: 0.5em;
				padding: 0.85em;
				border: solid 1px transparent;
				-moz-transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
				-webkit-transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
				-o-transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
				-ms-transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
				transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
			}
			



#nav > ul > li.active
				{
					border-color: rgba(192,192,192,0.35);
				}
			
				#nav > ul > li > a,
				#nav > ul > li > span
				{
					display: block;
					color: inherit;
					text-decoration: none;
					border: 0;
					outline: 0;
				}

				#nav > ul > li > ul
				{
					display: none;
				}

	.dropotron
	{
		background: rgba(255,255,255,0.975);
		padding: 1em 1.25em 1em 1.25em;
		line-height: 1em;
		height: auto;
		text-align: left;
		border-radius: 0.5em;
		box-shadow: 0 0.15em 0.25em 0 rgba(0,0,0,0.25);
		min-width: 12em;
	}
	
		.dropotron li
		{
			border-top: solid 1px rgba(128,128,128,0.2);
			color: #5b5b5b;
		}
		
			.dropotron li:first-child
			{
				border-top: 0;
			}

			.dropotron li:hover
			{
				color: #ef8376;
			}

			.dropotron li a,
			.dropotron li span
			{
				display: block;
				border: 0;
				padding: 0.5em 0 0.5em 0;
				-moz-transition: color 0.35s ease-in-out;
				-webkit-transition: color 0.35s ease-in-out;
				-o-transition: color 0.35s ease-in-out;
				-ms-transition: color 0.35s ease-in-out;
				transition: color 0.35s ease-in-out;
			}
		
		.dropotron.level-0
		{
			margin-top: 2em;
			font-size: 0.9em;
		}
		
			.dropotron.level-0:before
			{
				content: '';
				position: absolute;
				left: 50%;
				top: -0.7em;
				margin-left: -0.75em;
				border-bottom: solid 0.75em rgba(255,255,255,0.975);
				border-left: solid 0.75em rgba(64,64,64,0);
				border-right: solid 0.75em rgba(64,64,64,0);
			}

/* proper */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #3f729b;
  width: 960px;
  height: 700px;
  margin-top: 10px;
}

#main {
  position:  inherit;
  width: 750px;
}

#sidebar {
  float: right;
  width: 100px;
}

#sequence {
  position: inherit;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 70px;
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
  position: inherit;
}

#chart {
  position: inherit;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: relative;

  margin-left: auto;
    margin-right: auto;
      top: 300px;
  
  vertical-align: text-top; 
  color: #fff;
  z-index: -1;
}


#percentage {
  font-size: 2.5em;
}



